<div class="wrapperbox">
<div class="box">
	
<form>
	<h3>Crumplecorn's ARK Breeding Calculator</h3>
	<p class="subheading">Hover over labels for tooltips<br>
	Updated to v311.81 <a href="https://a-calc.de">by a-calc.de</a></p>

	<div class="tableheader slide" ng-class="{'dimmed': !tablevisibility['Creature']}" ng-click="showhidetable('Creature')">Creature Details</div>
	<div class="tableslide" ng-show="tablevisibility['Creature']">
	<table>
		<tr>
			<td style="width: 50%" class="label tooltip">Creature:<span class="tooltiptext">Creature type</span></td>
			<td><select ng-show="displayconfig.showoldselects" ng-options="name as name for (name, details) in creatures" ng-model="creature.name" ng-change="switchcreature()"></select>
				<input ng-hide="displayconfig.showoldselects" class="autocomplete" autocomplete data-source="creatures" ng-change="searchcreature()" data-default="creature.name" ng-model="creature.searchname"></td>
		</tr>
		<tr>
			<td style="width: 50%" class="label tooltip">Weight:<span class="tooltiptext">Weight stat of creature</span></td>
			<td><input ng-model="creature.finalweight" ng-change="selectweight()" type="number"></td>
		</tr>
		<tr>
			<td style="width: 50%" class="label tooltip">Food Type:<span class="tooltiptext">Type of food used in all food stats below</span></td>
			<td><select ng-options="food for food in foodlists[creatures[creature.name].type]" ng-model="foodunit" ng-change="selectweight()"></select></td>
		</tr>
		<tr>
			<td style="width: 50%" class="label">Hatch Multiplier: </td>
			<td><input ng-model="settings.hatchspeed" ng-change="selectsettings()" type="number" min="0"></td>
		</tr>
		<tr>
			<td style="width: 50%" class="label">Mature Multiplier: </td>
			<td><input ng-model="settings.maturationspeed" ng-change="selectsettings()" type="number" min="0"></td>
		</tr>
		<tr>
			<td style="width: 50%" class="label">Consume Multiplier: </td>
			<td><input ng-model="settings.consumptionspeed" ng-change="selectsettings()" type="number" min="0"></td>
		</tr>
	</table>
	</div>

	<div class="tableheader slide" ng-class="{'dimmed': !tablevisibility['Maturation']}" ng-click="showhidetable('Maturation')">Maturation</div>
	<div class="tableslide" ng-show="tablevisibility['Maturation']">
	<table>

		<tr>
			<td style="width: 50%" class="label tooltip">{{creature.birthlabel}}:<span class="tooltiptext">Time taken for {{creature.birthlabel}}</span></td>
			<td>{{creature.birthtime | secondsToDateTime}}</td>
		</tr>
		<tr>
			<td style="width: 50%" class="label tooltip">Maturation:<span class="tooltiptext">Maturation progress of creature you want stats for</span></td>
			<td><input ng-model="creature.maturationprogress" ng-change="selectmaturation()" percentage type="number" step="0.1" min="0" max="100">%</td>
		</tr>
		<tr>
			<td style="width: 50%" class="label tooltip">Elapsed Time:<span class="tooltiptext">Time elapsed since birth</span></td>
			<td>{{creature.maturationtimecomplete | secondsToDateTime}}</td>
		</tr>
		<tr>
			<td style="width: 50%" class="label tooltip">Time to Juvenile:<span class="tooltiptext">Time until creature hits juvenile</span></td>
			<td>{{creature.babytimeremaining | secondsToDateTime}}</td>
		</tr>
		<tr>
			<td style="width: 50%" class="label tooltip">Time to Adult:<span class="tooltiptext">Time until creature hits adult</span></td>
			<td>{{creature.maturationtimeremaining | secondsToDateTime}}</td>
		</tr>
		<tr>
			<td style="width: 50%" class="label tooltip">Food to Juvenile (E):<span class="tooltiptext">{{foodunit}} the creature will actually eat (i.e. no spoilage) between now and reaching juvenile</span></td>
			<td>{{creature.tojuvfooditems | number:0}}</td>
		</tr>
		<tr>
			<td style="width: 50%" class="label tooltip">Food to Adult (E):<span class="tooltiptext">{{foodunit}} the creature will actually eat (i.e. no spoilage) between now and reaching adult</span></td>
			<td>{{creature.toadultfooditems | number:0}}</td>
		</tr>
	</table>
	</div>

	<div class="tableheader slide" ng-class="{'dimmed': !tablevisibility['Baby']}" ng-click="showhidetable('Baby')">Baby Phase</div>
	<div class="tableslide" ng-show="tablevisibility['Baby']">
	<table>
		<tr>
			<td style="width: 50%" class="label tooltip">Current Buffer:<span class="tooltiptext">How long the baby will last with a full inventory of {{foodunit}}</span></td>
			<td>{{creature.currentbabybuffer | secondsToDateTime}}</td>
		</tr>
		<tr>
			<td style="width: 50%" class="label tooltip">Food to Fill:<span class="tooltiptext">The amount of {{foodunit}} the baby's inventory can currently hold</span></td>
			<td>{{creature.foodtofill | number:0}}</td>
		</tr>
		<tr>
			<td style="width: 50%" class="label tooltip">Hand Feed For:<span class="tooltiptext">How long from now until the baby can survive to juvenile on a full inventory, and the maturation at which this occurs</span></td>
			<td>{{creature.lasthandfeed | secondsToDateTime}} ({{creature.lasthandfeedmaturation | percentage}}%)</td>
		</tr>
		<tr>
			<td style="width: 50%" class="label tooltip">Food to Finish:<span class="tooltiptext">Amount of food required in the baby's inventory to reach juvenile</span></td>
			<td>{{creature.foodtofinishbaby}}</td>
		</tr>
		<tr>
			<td style="width: 50%" class="label tooltip">Desired Buffer:<span class="tooltiptext">How long you would like between feedings</span></td>
			<td><input ng-model="creature.desiredbabybuffer" ng-change="desiredbuffercalc()" type="number" min="1"> Minutes</td>
		</tr>
		<tr>
			<td style="width: 50%" class="label tooltip">Time Until Buffer:<span class="tooltiptext">How long until the baby's inventory is big enough to provide your desired buffer, and the maturation at which this occurs</span></td>
			<td>{{creature.timeuntildesiredbabybuffer | secondsToDateTime}} ({{creature.timeuntildesiredbabybuffermaturation | percentage}}%)</td>
		</tr>
	</table>
	</div>

	<div class="tableheader slide" ng-class="{'dimmed': !tablevisibility['Food']}" ng-click="showhidetable('Food')">Food Per Day</div>
	<div class="tableslide" ng-show="tablevisibility['Food']">
	<table>
		<tr>
			<td style="width: 50%" class="label tooltip">Loss Factor:<span class="tooltiptext">Percentage of food you assume will be lost to spoilage</span></td>
			<td><input ng-model="settings.lossfactor" ng-change="totalfoodcalc()" type="number"></td>
		</tr>
		<tr ng-repeat="(day,food) in creature.fooditemsforday">
			<td style="width: 50%" class="label tooltip">Day {{day}} Food<span class="tooltiptext">{{foodunit}} required on day {{day}} of maturation</span></td>
			<td>{{food | number:0}}</td>
		</tr>
	</table>
	</div>

	

	<div class="tableheader slide" ng-class="{'dimmed': !tablevisibility['Trough']}" ng-click="showhidetable('Trough')">Trough Calculator - Food</div>
	<div class="tableslide" ng-show="tablevisibility['Trough']">
	<table>
		<tr>
			<td style="width: 50%" class="label tooltip">Prim+ Stacksizes:<span class="tooltiptext">Check this if you are on Prim+ using the old stack sizes</span></td>
			<td><input ng-model="settings.stackSize" ng-change="changeStackSize()" type="checkbox"></td>
		</tr>
		<tr>
			<td style="width: 50%" class="label tooltip">Trough Type:<span class="tooltiptext">Sets the spoil rate of the food based on the container you will use, Tek=100x, Normal=4x, Clicker=1x</span></td>
			<td><select ng-options="type as type for (type, multi) in troughtypes" ng-model="settings.troughtype" ng-change="troughcalc()"></select></td>
		</tr>
		<tr ng-repeat="(food, stacks) in troughstacks">
			<td style="width: 50%" class="label tooltip">{{food}}<span class="tooltiptext">Stacks of {{foods[food].stack}} {{food}} in troughs</span></td>
			<td><input ng-model="troughstacks[food]" ng-change="troughcalc()" type="number"> Stacks</td>
		</tr>
		<tr ng-repeat="(type, time) in troughdata.times">
			<td style="width: 50%" class="label tooltip">{{type}}:<span class="tooltiptext">How long {{type}}s will have food in the current configuration</span></td>
			<td>{{time | secondsToDateTime}}</td>
		</tr>
		<tr>
			<td style="width: 50%" class="label tooltip">Loss<span class="tooltiptext">Amount of food points to spoilage, cooking meat is automatic 50% loss</span></td>
			<td>{{(troughdata.spoiledpoints+troughdata.wastedpoints)/troughdata.totalpoints*100}}%</td>
		</tr>
	</table>
	</div>

	<div class="tableheader slide" ng-class="{'dimmed': !tablevisibility['TroughCreatures']}" ng-click="showhidetable('TroughCreatures')">Trough Calculator - Creatures</div>
	<div class="tableslide" ng-show="tablevisibility['TroughCreatures']">
	<table>
		<thead>
			<td>Creature</td>
			<td>Maturation</td>
			<td>Quantity</td>
			<td>Remove</td>
		</thead>
		<tr>
			<td><input type="button" ng-click="troughaddcreature()" value="Add Creature"></td>
		</tr>
		<tr ng-repeat="(index, troughcreature) in creaturelist">
			<td><select ng-options="name as name for (name, details) in creatures" ng-model="troughcreature.name" ng-change="troughupdatefoodtypes();troughcalc()"></select></td>
			<td><input ng-model="troughcreature.maturation" ng-change="troughcalc()" percentage type="number"></td>
			<td><input ng-model="troughcreature.quantity" ng-change="troughcalc()" type="number"></td>
			<td><input type="button" ng-click="troughremovecreature(index)" value="Remove"></td>
		</tr>
	</table>
</div>

<p class="footer">
<input id="animationscb" class="hidden" type="checkbox" ng-model="displayconfig.showanimations" ng-true-value="0" ng-false-value="1" ng-change="showhideanimations()"><label for="animationscb">Disable Animations</label>
<input id="oldselectscb" class="hidden" type="checkbox" ng-model="displayconfig.showoldselects" ng-true-value="1" ng-false-value="0" ng-change="changedisplayconfig()"><label for="oldselectscb">Simple Selectors</label><br>
<a href="http://crumplecorn.com/content/breeding-calculator">Feedback / Background / Changelog</a><br>
<a href="http://twitch.tv/crumplecorn">Stream</a> <a href="https://www.twitchalerts.com/donate/crumplecorn">Donate</a>
</p>

</form>
</div>
</div>
